.not-found-bg-container {
  height: 100%;
  width: 100%;
  min-width: 100vh;
  background-color: #161625;
}

.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 10px;
}
.not-found-heading {
  color: #cbd5e1;
  font-family: 'Roboto';
  text-align: center;
  font-size: 32px;
  font-style: normal;
  line-height: 48px;
  font-weight: 500px;
}
.not-found-description {
  color: #94a3b8;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}
.home-button {
  background: #2563eb;
  border-radius: 12px;
  color: #ffffff;
  padding: 12px 24px;
  border: none;
}
.button-container {
  text-align: center;
}
.not-found-image {
  height: 250px;
  width: 400px;
  top: 230px;
  left: 500px;
}
